In [2534]:
import numpy as np
import pandas as pd
from datetime import datetime as dt
import itertools
from IPython.display import display

%matplotlib inline

In [2535]:
# Read data from .csv files 

loc = "voetbal_1956-20220309/"

raw_cards_file = pd.read_csv (loc + '_cards.csv')
raw_goals_file = pd.read_csv (loc + '_goals.csv')
raw_matches_file = pd.read_csv (loc + '_matches.csv')
raw_players_file = pd.read_csv (loc + '_players.csv')
raw_subs_file = pd.read_csv (loc + '_subs.csv')

In [2536]:
# function to remove duplicates 
def Duplicates(rawName , colName: str, previousName: str, newName: str ):
        if colName == "club":
                rawName["home"].replace({previousName: newName }, inplace=True)
                rawName["away"].replace({previousName: newName }, inplace=True)
                rawName["team"].replace({previousName: newName }, inplace=True)
        elif colName == "match":
                rawName["home"].replace({previousName: newName }, inplace=True)
                rawName["away"].replace({previousName: newName }, inplace=True)
        elif colName == "card": 
                rawName["type"].replace({previousName: newName }, inplace=True)
        else:
                print("nothing")

## cards

In [2537]:
df_card_filtered = raw_cards_file[(raw_cards_file['type'] == 'rode kaart') | 
                                  (raw_cards_file['type'] == 'gele kaart') |
                                  (raw_cards_file['type'] == 'gele') |
                                  (raw_cards_file['type'] == 'kaartgele') |
                                  (raw_cards_file['type'] == 'rode') |
                                  (raw_cards_file['type'] == 'kaartrode')  ]
            
df_card_filtered["type"].replace({"rode kaart": 2, "gele kaart": 1, "gele": 1 , "kaartgele" : 1 , "rode":2, "kaartrode" : 2 }, inplace=True)

filterHomeTeam = df_card_filtered[ (df_card_filtered['home'] == df_card_filtered['team'])]
filterAwayTeam = df_card_filtered[ (df_card_filtered['away'] == df_card_filtered['team'])]

C:\Users\malja\anaconda3\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [2538]:
# Away yellow cards
filterAwayYellowCard = filterAwayTeam[(filterAwayTeam['type'] == 1)]
groupByAwayYellowCard = filterAwayYellowCard.groupby('away').sum()
groupByAwayYellowCard['type'].head(10)

print(f'{len(filterAwayYellowCard.index)} yellow cards is made by away team ')

# filterAwayYellowCard = filterAwayTeam[(filterAwayTeam['type'] == 1)]
# groupByAwayYellowCard = filterAwayYellowCard.groupby('away').sum()
# groupByAwayYellowCard['type'].head(10)

17920 yellow cards is made by away team

In [2539]:
# Away red cards
filterAwayRedCard = filterAwayTeam[(filterAwayTeam['type'] == 2)]
print(f'{len(filterAwayRedCard.index)} red cards is made by away team ')

# filterAwayRedCard = filterAwayTeam[(filterAwayTeam['type'] == 2)]
# groupByAwayRedCard = filterAwayRedCard.groupby('away').sum()
# groupByAwayRedCard['type'].head(10)

679 red cards is made by away team

In [2540]:
# Home yellow cards
filterHomeYellowCard = filterHomeTeam[(filterHomeTeam['type'] == 1)]
groupByHomeYellowCard = filterHomeYellowCard.groupby('home').sum()
groupByHomeYellowCard

print(f'{len(filterHomeYellowCard.index)} yellow cards is made by home team ')

# filterHomeYellowCard = filterHomeTeam[(filterHomeTeam['type'] == 1)]
# groupByHomeYellowCard = filterHomeYellowCard.groupby('home').sum()
# groupByHomeYellowCard

12578 yellow cards is made by home team

In [2541]:
# Home red cards 
filterHomeRedCard = filterHomeTeam[(filterHomeTeam['type'] == 2)]
print(f'{len(filterHomeRedCard.index)} red cards is made by home team ')

# filterHomeRedCard = filterHomeTeam[(filterHomeTeam['type'] == 2)]
# groupByHomeRedCard = filterHomeRedCard.groupby('home').sum()
# groupByHomeRedCard

415 red cards is made by home team

## Goals

In [2542]:
# Method used to overwrite values found in column 'assist'
def assist(value):
    if pd.notna(value):
        return 1
    else:
        return 0

In [2543]:
raw_goals_file["home"].replace({"afc-ajax": "ajax-amsterdam" }, inplace=True)
raw_goals_file["away"].replace({"afc-ajax": "ajax-amsterdam" }, inplace=True)
raw_goals_file["team"].replace({"afc-ajax": "ajax-amsterdam" }, inplace=True)
filtered_assists = raw_goals_file.drop(columns=['new_score','type','minute','round'])
filtered_assists['assist'] = raw_goals_file['assist'].apply(assist)
filtered_assists['player'] = raw_goals_file['player'].apply(assist)
filtered_assists

,Unnamed: 0,saison,home,away,team,player,assist
0,0,1956-1957,ajax-amsterdam,bvc-amsterdam,ajax-amsterdam,1,1
1,1,1956-1957,ajax-amsterdam,bvc-amsterdam,bvc-amsterdam,1,0
2,2,1956-1957,ajax-amsterdam,bvc-amsterdam,bvc-amsterdam,1,0
3,3,1956-1957,ajax-amsterdam,bvc-amsterdam,ajax-amsterdam,1,0
4,4,1956-1957,ajax-amsterdam,bvc-amsterdam,bvc-amsterdam,1,0
...,...,...,...,...,...,...,...
60864,639,2021-2022,willem-ii,sc-cambuur,willem-ii,1,1
60865,640,2021-2022,willem-ii,sc-cambuur,sc-cambuur,1,0
60866,641,2021-2022,willem-ii,sparta-rotterdam,sparta-rotterdam,1,1
60867,642,2021-2022,willem-ii,sparta-rotterdam,sparta-rotterdam,1,1
60868,643,2021-2022,willem-ii,sparta-rotterdam,sparta-rotterdam,1,1

In [2544]:
# Home assist and goals
filterAssist = filtered_assists[(filtered_assists['assist'] == 1)]
groupByHomeAssist = filterAssist.groupby('home')['assist'].sum()
print(groupByHomeAssist.head())

# goals 
groupByHomeGoals = filtered_assists.groupby('home')['player'].sum()
print(groupByHomeGoals.head())

home
ado-den-haag       617
afc-dws             17
ajax-amsterdam    1596
az-alkmaar         825
blauw-wit            2
Name: assist, dtype: int64
home
ado-den-haag      2405
afc-dws            604
ajax-amsterdam    4299
az-alkmaar        2226
blauw-wit          348
Name: player, dtype: int64

In [2545]:
# Away assist and goals 
groupByAwayAssist = filterAssist.groupby('away')['assist'].sum()
print(groupByAwayAssist.head())

# goals 
groupByAwayGoals = filtered_assists.groupby('away')['player'].sum()
print(groupByAwayGoals.head(101))

away
ado-den-haag       612
afc-dws             17
ajax-amsterdam    1308
az-alkmaar         838
blauw-wit            8
Name: assist, dtype: int64
away
ado-den-haag           2437
afc-dws                 628
ajax-amsterdam         3551
az-alkmaar             2392
blauw-wit               387
bvc-amsterdam           121
cambuur-leeuwarden      140
de-graafschap          1093
de-volewijckers         150
excelsior-rotterdam     139
fc-amsterdam            287
fc-den-bosch            824
fc-dordrecht            357
fc-eindhoven            169
fc-emmen                139
fc-groningen           2725
fc-twente              2938
fc-utrecht             3380
fc-volendam            1310
fc-wageningen           120
feyenoord              3211
feyenoord-rotterdam     157
fortuna-54              502
fortuna-sittard        1270
go-ahead-eagles        1570
go-ahead-eagles_2         3
helmond-sport           139
heracles-almelo        1136
hfc-haarlem             869
holland-sport           230
mvv                    1873
nac-breda              2688
nec-nijmegen           1931
noad-tilburg            258
pec-zwolle             1160
psv-eindhoven          3487
rbc-roosendaal          293
rkc-waalwijk           1251
roda-jc-kerkrade       2619
sbv-excelsior          1020
sc-cambuur              277
sc-heerenveen          1634
sc-telstar              690
sc-veendam              105
sittardia               207
sparta-rotterdam       2771
svv-schiedam            107
twente-enschede         182
usv-elinkwijk           397
vitesse                1532
vitesse-arnheim         240
vvv-venlo              1289
willem-ii              1572
willem-ii-tilburg       820
xerxes-dzb               92
Name: player, dtype: int64

## Matches

In [2546]:
Duplicates(raw_matches_file, "match", "afc-ajax", "ajax-amsterdam")
Duplicates(raw_matches_file, "match", "willem-ii", "willem-ii-tilburg")
Duplicates(raw_matches_file, "match", "mvv", "mvv-maastricht")
Duplicates(raw_matches_file, "match", "vitesse", "vitesse-arnhem")
Duplicates(raw_matches_file, "match", "sc-cambuur", "cambuur-leeuwarden")
Duplicates(raw_matches_file, "match", "feyenoord", "feyenoord-rotterdam")
Duplicates(raw_matches_file, "match", "go-ahead-eagles_2", "go-ahead-eagles")

filtered_matches = raw_matches_file.drop(columns=['stadium','home_first_card','home_last_card',
                                                 'away_first_card', 'time','date',
                                                 'spectators', 'ref','linesman1','linesman2', 'away_last_card',
                                                 'home_yellow', 'home_yelred', 'away_yellow','first_goal', 'last_goal',
                                                  'away_red','home_red', 'away_yelred'])

filtered_matches.dropna()
filtered_matches

,Unnamed: 0,saison,round,home,away,home_score,away_score
0,0,1956-1957,16,ajax-amsterdam,bvc-amsterdam,2,3
1,1,1956-1957,27,ajax-amsterdam,fc-den-bosch,1,0
2,2,1956-1957,15,ajax-amsterdam,fc-utrecht,1,2
3,3,1956-1957,25,ajax-amsterdam,feyenoord-rotterdam,1,0
4,4,1956-1957,13,ajax-amsterdam,fortuna-54,0,2
...,...,...,...,...,...,...,...
19925,301,2021-2022,21,willem-ii-tilburg,rkc-waalwijk,3,1
19926,302,2021-2022,16,willem-ii-tilburg,cambuur-leeuwarden,1,3
19927,303,2021-2022,25,willem-ii-tilburg,sc-heerenveen,0,0
19928,304,2021-2022,12,willem-ii-tilburg,sparta-rotterdam,0,3
19929,305,2021-2022,30,willem-ii-tilburg,vitesse-arnhem,-,-

In [2547]:
WinningHomeTeamFilter = filtered_matches[ (filtered_matches['home_score'] > filtered_matches['away_score'])]
# WinningHomeTeamFilter
print(f'The Home team won {len(WinningHomeTeamFilter.index)} matches')

WinningAwayTeamFilter = filtered_matches[ (filtered_matches['home_score'] < filtered_matches['away_score'])]
# WinningAwayTeamFilter
print(f'The Away team won {len(WinningAwayTeamFilter.index)} matches')

DrawTeamFilter = filtered_matches[ (filtered_matches['home_score'] == filtered_matches['away_score'])]
# WinningAwayTeamFilter
print(f'The draw was in {len(DrawTeamFilter.index)} matches')

The Home team won 9458 matches
The Away team won 5416 matches
The draw was in 5056 matches

## Players

In [2548]:
# TODO research            
raw_players_file["started"].replace({True: 1, False: 0}, inplace=True)

filterHomeTeamPlayers = raw_players_file[ (raw_players_file['home'] == raw_players_file['team'])]
filterAwayTeamPlayers = raw_players_file[ (raw_players_file['away'] == raw_players_file['team'])]


filterStartedPlayersHome = filterHomeTeamPlayers[ (filterHomeTeamPlayers['started'] == 1)]
print(f'{len(filterStartedPlayersHome.index)} players play home')
filterNotStartedPlayersHome = filterHomeTeamPlayers[ (filterHomeTeamPlayers['started'] == 0)]
print(f'{len(filterNotStartedPlayersHome.index)} players did not play home')

filterStartedPlayersAway = filterAwayTeamPlayers[ (filterAwayTeamPlayers['started'] == 1)]
print(f'{len(filterStartedPlayersAway.index)} players play away')
filterNotStartedPlayersAway = filterAwayTeamPlayers[ (filterAwayTeamPlayers['started'] == 0)]
print(f'{len(filterNotStartedPlayersAway.index)} players did not play away')

212686 players play home
49729 players did not play home
217217 players play away
51468 players did not play away

## SUBS

In [2549]:
# TODO research 
raw_subs_file

,Unnamed: 0,saison,round,home,away,team,player,minute,in
0,0,1956-1957,16,afc-ajax,bvc-amsterdam,afc-ajax,rinus-michels,70',False
1,1,1956-1957,16,afc-ajax,bvc-amsterdam,afc-ajax,loek-den-edel,70',True
2,2,1956-1957,27,afc-ajax,fc-den-bosch,afc-ajax,rinus-michels,46',False
3,3,1956-1957,27,afc-ajax,fc-den-bosch,afc-ajax,piet-ouderland,46',True
4,4,1956-1957,15,afc-ajax,fc-utrecht,afc-ajax,wim-anderiesen,83',False
...,...,...,...,...,...,...,...,...,...
128458,3525,2021-2022,12,willem-ii,sparta-rotterdam,sparta-rotterdam,aaron-meijers,78',True
128459,3526,2021-2022,12,willem-ii,sparta-rotterdam,sparta-rotterdam,kenzo-goudmijn,88',True
128460,3527,2021-2022,12,willem-ii,sparta-rotterdam,sparta-rotterdam,mohammed-osman,88',True
128461,3528,2021-2022,12,willem-ii,sparta-rotterdam,sparta-rotterdam,vito-van-crooij,78',True
128462,3529,2021-2022,12,willem-ii,sparta-rotterdam,sparta-rotterdam,mario-engels,71',True

In [2550]:
# function used to get the last season
def toOneSeason(season):
    return season[5:len(season)]

In [2551]:
Duplicates(raw_cards_file, "club", "afc-ajax", "ajax-amsterdam")
Duplicates(raw_cards_file, "club", "willem-ii", "willem-ii-tilburg")
Duplicates(raw_cards_file, "club", "mvv", "mvv-maastricht")
Duplicates(raw_cards_file, "club", "vitesse", "vitesse-arnhem")
Duplicates(raw_cards_file, "club", "sc-cambuur", "cambuur-leeuwarden")
Duplicates(raw_cards_file, "club", "feyenoord", "feyenoord-rotterdam")
Duplicates(raw_cards_file, "club", "go-ahead-eagles_2", "go-ahead-eagles")

Duplicates(raw_cards_file, "card", "rode kaart", "red-card")
Duplicates(raw_cards_file, "card", "rode", "red-card")
Duplicates(raw_cards_file, "card", "kaartrode", "red-card")
Duplicates(raw_cards_file, "card", "gele kaart", "yellow-card")
Duplicates(raw_cards_file, "card", "gele", "yellow-card")
Duplicates(raw_cards_file, "card", "kaartgele", "yellow-card")
Duplicates(raw_cards_file, "card", "geelrode kaart", "red-card")
raw_cards_file.drop(columns=['player','type'])
raw_cards_file['saison'] = raw_cards_file['saison'].apply(toOneSeason)
raw_cards_file['saison'] = raw_cards_file['saison'].astype(int)


df_cards = pd.DataFrame()
season = raw_cards_file['saison']
round = raw_cards_file['round']
home = raw_cards_file['home']
away = raw_cards_file['away']
team = raw_cards_file['team']
type = raw_cards_file['type']
yellowCards = raw_cards_file['type']
redCards = raw_cards_file['type']
home_cards = raw_cards_file['type']
away_cards = raw_cards_file['type']



df_cards['season'] =  season
df_cards['round'] =  round
df_cards['home'] =  home
df_cards['away'] =  away
df_cards['team'] =  team
df_cards['type'] =  type
df_cards['yellowCards'] =  yellowCards
df_cards['redCards'] =  redCards
df_cards['home_cards'] =  home_cards
df_cards['away_cards'] =  away_cards
df_cards["yellowCards"].replace({"red-card": 0, "yellow-card": 1 }, inplace=True)
df_cards["redCards"].replace({"red-card": 1, "yellow-card": 0 }, inplace=True)

df_cards.loc[(df_cards["home_cards"] == "red-card") & (df_cards["home"] == df_cards["team"]), "home_cards"] = "red"
df_cards.loc[(df_cards["away_cards"] == "red-card") & (df_cards["away"] == df_cards["team"]), "away_cards"] = "red"
df_cards.loc[(df_cards["home_cards"] == "yellow-card") & (df_cards["home"] == df_cards["team"]), "home_cards"] = "yellow"
df_cards.loc[(df_cards["away_cards"] == "yellow-card") & (df_cards["away"] == df_cards["team"]), "away_cards"] = "yellow"
df_cards["home_cards"].replace({"red-card": 0, "yellow-card": 0, "yellow": 1,  "red": 2 }, inplace=True)
df_cards["away_cards"].replace({"red-card": 0, "yellow-card": 0, "yellow": 1,  "red": 2 }, inplace=True)


df_cards[(df_cards['season'] >= 2012)]
df_cards

,season,round,home,away,team,type,yellowCards,redCards,home_cards,away_cards
0,1963,8,heracles-almelo,fc-twente,fc-twente,red-card,0,1,0,2
1,1972,5,fc-groningen,ajax-amsterdam,fc-groningen,red-card,0,1,2,0
2,1972,5,fc-groningen,ajax-amsterdam,ajax-amsterdam,red-card,0,1,0,2
3,1973,34,ajax-amsterdam,az-alkmaar,ajax-amsterdam,yellow-card,1,0,1,0
4,1973,34,ajax-amsterdam,az-alkmaar,az-alkmaar,yellow-card,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
32287,2022,25,willem-ii-tilburg,sc-heerenveen,willem-ii-tilburg,yellow-card,1,0,1,0
32288,2022,12,willem-ii-tilburg,sparta-rotterdam,willem-ii-tilburg,yellow-card,1,0,1,0
32289,2022,12,willem-ii-tilburg,sparta-rotterdam,sparta-rotterdam,yellow-card,1,0,0,1
32290,2022,12,willem-ii-tilburg,sparta-rotterdam,sparta-rotterdam,yellow-card,1,0,0,1
32291,2022,12,willem-ii-tilburg,sparta-rotterdam,sparta-rotterdam,yellow-card,1,0,0,1

In [2552]:
df_cards_new = pd.DataFrame()
season = df_cards['season']
round = df_cards['round']
home = df_cards['home']
away = df_cards['away']
team = df_cards['team']
type = df_cards['type']
yellowCards = df_cards['yellowCards']
redCards = df_cards['redCards']
home_cards = df_cards['home_cards']
away_cards = df_cards['away_cards']


df_cards_new['season'] =  season
df_cards_new['round'] =  round
df_cards_new['home'] =  home
df_cards_new['away'] =  away
df_cards_new['team'] =  team
df_cards_new['type'] =  type
df_cards_new['yellowCards'] =  yellowCards
df_cards_new['redCards'] =  redCards
df_cards_new['yellow_card_home'] =  home_cards
df_cards_new['yellow_card_away'] =  away_cards
df_cards_new['red_card_home'] =  home_cards
df_cards_new['red_card_away'] =  away_cards

df_cards_new["yellow_card_home"].replace({2: 0, 1: 1, 0: 0}, inplace=True)
df_cards_new["yellow_card_away"].replace({2: 0, 1: 1, 0: 0}, inplace=True)
df_cards_new["red_card_home"].replace({2: 1, 1: 0, 0: 0}, inplace=True)
df_cards_new["red_card_away"].replace({2: 1, 1: 0, 0: 0}, inplace=True)

df_cards_new

,season,round,home,away,team,type,yellowCards,redCards,yellow_card_home,yellow_card_away,red_card_home,red_card_away
0,1963,8,heracles-almelo,fc-twente,fc-twente,red-card,0,1,0,0,0,1
1,1972,5,fc-groningen,ajax-amsterdam,fc-groningen,red-card,0,1,0,0,1,0
2,1972,5,fc-groningen,ajax-amsterdam,ajax-amsterdam,red-card,0,1,0,0,0,1
3,1973,34,ajax-amsterdam,az-alkmaar,ajax-amsterdam,yellow-card,1,0,1,0,0,0
4,1973,34,ajax-amsterdam,az-alkmaar,az-alkmaar,yellow-card,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
32287,2022,25,willem-ii-tilburg,sc-heerenveen,willem-ii-tilburg,yellow-card,1,0,1,0,0,0
32288,2022,12,willem-ii-tilburg,sparta-rotterdam,willem-ii-tilburg,yellow-card,1,0,1,0,0,0
32289,2022,12,willem-ii-tilburg,sparta-rotterdam,sparta-rotterdam,yellow-card,1,0,0,1,0,0
32290,2022,12,willem-ii-tilburg,sparta-rotterdam,sparta-rotterdam,yellow-card,1,0,0,1,0,0
32291,2022,12,willem-ii-tilburg,sparta-rotterdam,sparta-rotterdam,yellow-card,1,0,0,1,0,0

In [2553]:
groupByAwayYellowCard = df_cards_new.groupby(['season', 'round','home', 'away'], as_index=False).agg(yellowCards = ('yellowCards', 'sum'), 
                                                                                redCards = ('redCards', 'sum'),
                                                                                yellowCardHome = ('yellow_card_home', 'sum'),
                                                                                yellowCardAway = ('yellow_card_away', 'sum'),
                                                                                redCardHome = ('red_card_home', 'sum'),
                                                                                redCardAway = ('red_card_away', 'sum'))
groupByAwayYellowCard

,season,round,home,away,yellowCards,redCards,yellowCardHome,yellowCardAway,redCardHome,redCardAway
0,1963,8,heracles-almelo,fc-twente,0,1,0,0,0,1
1,1972,5,fc-groningen,ajax-amsterdam,0,2,0,0,1,1
2,1973,1,ado-den-haag,sparta-rotterdam,2,0,0,2,0,0
3,1973,1,feyenoord-rotterdam,nec-nijmegen,2,0,1,1,0,0
4,1973,1,nac-breda,go-ahead-eagles,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
11127,2022,25,go-ahead-eagles,fc-utrecht,2,0,1,1,0,0
11128,2022,25,nec-nijmegen,az-alkmaar,1,0,0,1,0,0
11129,2022,25,psv-eindhoven,heracles-almelo,2,0,1,1,0,0
11130,2022,25,vitesse-arnhem,sparta-rotterdam,3,0,0,3,0,0
11131,2022,25,willem-ii-tilburg,sc-heerenveen,2,0,2,0,0,0

In [2554]:
#Function used for the matches:
def ClassifyMatches(row):
    if(row.home_score > row.away_score):
        return f"{row.home} win | {row.away} lose"
    elif(row.home_score < row.away_score):
        return f"{row.home} lose | {row.away} win"
    else:
        return f"{row.home} tied with {row.away} "

In [2555]:
filtered_matches['saison'] = filtered_matches['saison'].apply(toOneSeason)
filtered_matches['saison'] = filtered_matches['saison'].astype(int)

df_MatchesForAjaxHost = pd.DataFrame()
season = filtered_matches['saison']
round = filtered_matches['round']
homeTeamAjax = filtered_matches['home']
awayTeamAjax = filtered_matches['away']
scoresAjaxHome = filtered_matches['home_score']
awayTeamScoresAjax = filtered_matches['away_score']

df_MatchesForAjaxHost['season'] = season
df_MatchesForAjaxHost['round'] = round
df_MatchesForAjaxHost['home'] = homeTeamAjax
df_MatchesForAjaxHost['away'] = awayTeamAjax
df_MatchesForAjaxHost['home_score'] = scoresAjaxHome
df_MatchesForAjaxHost['away_score'] = awayTeamScoresAjax
df_MatchesForAjaxHost['winning_team'] = df_MatchesForAjaxHost.apply(lambda row: ClassifyMatches(row),axis=1)
df_MatchesForAjaxHost[(df_MatchesForAjaxHost['season'] >= 2012) & 
                                        (df_MatchesForAjaxHost['home_score'] != '-') &
                                        (df_MatchesForAjaxHost['away_score'] != '-')]
df_MatchesForAjaxHost

,season,round,home,away,home_score,away_score,winning_team
0,1957,16,ajax-amsterdam,bvc-amsterdam,2,3,ajax-amsterdam lose | bvc-amsterdam win
1,1957,27,ajax-amsterdam,fc-den-bosch,1,0,ajax-amsterdam win | fc-den-bosch lose
2,1957,15,ajax-amsterdam,fc-utrecht,1,2,ajax-amsterdam lose | fc-utrecht win
3,1957,25,ajax-amsterdam,feyenoord-rotterdam,1,0,ajax-amsterdam win | feyenoord-rotterdam lose
4,1957,13,ajax-amsterdam,fortuna-54,0,2,ajax-amsterdam lose | fortuna-54 win
...,...,...,...,...,...,...,...
19925,2022,21,willem-ii-tilburg,rkc-waalwijk,3,1,willem-ii-tilburg win | rkc-waalwijk lose
19926,2022,16,willem-ii-tilburg,cambuur-leeuwarden,1,3,willem-ii-tilburg lose | cambuur-leeuwarden win
19927,2022,25,willem-ii-tilburg,sc-heerenveen,0,0,willem-ii-tilburg tied with sc-heerenveen
19928,2022,12,willem-ii-tilburg,sparta-rotterdam,0,3,willem-ii-tilburg lose | sparta-rotterdam win
19929,2022,30,willem-ii-tilburg,vitesse-arnhem,-,-,willem-ii-tilburg tied with vitesse-arnhem

In [2556]:
# df_merge = pd.merge(df_MatchesForAjaxHost, groupByAwayYellowCard, on='season',how='outer')
df_merge= pd.merge(df_MatchesForAjaxHost,groupByAwayYellowCard,how='inner',left_on=['season','round','home', 'away'],right_on=['season','round','home', 'away'])
df_test = df_merge[(df_merge['home_score'] != '-') |
                    (df_merge['away_score'] != '-')]
df_test["home_score"].replace({'-': '0'}, inplace=True)
df_test["away_score"].replace({'- afgebr.': '0'}, inplace=True)
df_test["away_score"].replace({'2 Toeg.': '0'}, inplace=True)
                                       
df_test.tail(10)

,season,round,home,away,home_score,away_score,winning_team,yellowCards,redCards,yellowCardHome,yellowCardAway,redCardHome,redCardAway
11122,2022,20,willem-ii-tilburg,fc-twente,0,1,willem-ii-tilburg lose | fc-twente win,2,0,1,1,0,0
11123,2022,1,willem-ii-tilburg,feyenoord-rotterdam,0,4,willem-ii-tilburg lose | feyenoord-rotterdam win,1,1,1,0,1,0
11124,2022,10,willem-ii-tilburg,fortuna-sittard,1,1,willem-ii-tilburg tied with fortuna-sittard,3,0,1,2,0,0
11125,2022,14,willem-ii-tilburg,go-ahead-eagles,0,1,willem-ii-tilburg lose | go-ahead-eagles win,2,0,1,1,0,0
11126,2022,18,willem-ii-tilburg,nec-nijmegen,0,1,willem-ii-tilburg lose | nec-nijmegen win,0,1,0,0,1,0
11127,2022,7,willem-ii-tilburg,psv-eindhoven,2,1,willem-ii-tilburg win | psv-eindhoven lose,3,0,1,2,0,0
11128,2022,21,willem-ii-tilburg,rkc-waalwijk,3,1,willem-ii-tilburg win | rkc-waalwijk lose,2,0,0,2,0,0
11129,2022,16,willem-ii-tilburg,cambuur-leeuwarden,1,3,willem-ii-tilburg lose | cambuur-leeuwarden win,2,0,1,1,0,0
11130,2022,25,willem-ii-tilburg,sc-heerenveen,0,0,willem-ii-tilburg tied with sc-heerenveen,2,0,2,0,0,0
11131,2022,12,willem-ii-tilburg,sparta-rotterdam,0,3,willem-ii-tilburg lose | sparta-rotterdam win,4,0,1,3,0,0

In [2557]:
from sklearn.preprocessing import LabelEncoder
from sklearn import tree
from sklearn.model_selection import train_test_split

label = LabelEncoder()

In [2558]:
ids = label.fit_transform(df_test['away_score'])
mappingHome = dict(zip(label.classes_, range(len(label.classes_))))

In [2559]:
ids = label.fit_transform(df_merge['home'])
mappingHome = dict(zip(label.classes_, range(len(label.classes_))))
print(list(mappingHome.keys())[list(mappingHome.values()).index(40)])

df_test["home"] = label.fit_transform(df_test['home'])
df_test["away"] = label.fit_transform(df_test['away'])
mappingHome.keys()

willem-ii-tilburg

dict_keys(['ado-den-haag', 'ajax-amsterdam', 'az-alkmaar', 'cambuur-leeuwarden', 'de-graafschap', 'excelsior-rotterdam', 'fc-amsterdam', 'fc-den-bosch', 'fc-dordrecht', 'fc-eindhoven', 'fc-emmen', 'fc-groningen', 'fc-twente', 'fc-utrecht', 'fc-volendam', 'fc-wageningen', 'feyenoord-rotterdam', 'fortuna-sittard', 'go-ahead-eagles', 'helmond-sport', 'heracles-almelo', 'hfc-haarlem', 'mvv-maastricht', 'nac-breda', 'nec-nijmegen', 'pec-zwolle', 'psv-eindhoven', 'rbc-roosendaal', 'rkc-waalwijk', 'roda-jc-kerkrade', 'sbv-excelsior', 'sc-heerenveen', 'sc-telstar', 'sc-veendam', 'sparta-rotterdam', 'svv-schiedam', 'twente-enschede', 'vitesse-arnheim', 'vitesse-arnhem', 'vvv-venlo', 'willem-ii-tilburg'])

In [2564]:
X = df_test[["home","away","redCardHome", "away_score"]]
y = df_test["winning_team"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

In [2565]:
winning_team = tree.DecisionTreeClassifier()
winning_team.fit(X_train,y_train)

winning_team.score(X_test,y_test)

0.5312079030085317

In [2571]:
winning_team.predict([[26, 40 , 1 , 10]])

array(['psv-eindhoven win | willem-ii-tilburg lose'], dtype=object)